# Built artifacts
*.iml
.gradle/
build/
/captures

# Local configuration
local.properties

# IDE - Android Studio / IntelliJ
.idea/

# macOS
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Kotlin
*.class
